body {
    font-family: Arial;
    background: #f4f9ff;
    text-align: center;
}

h1 {
    background: #1976d2;
    color: white;
    padding: 15px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background: #1976d2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0d47a1;
}

.login-box {
    margin-top: 50px;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}

input, select, textarea {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}